{% extends 'dashboard.html.twig' %}

{% block dashboardcontent %}

<div class="text-center" style="width: 20rem; margin: 0 auto;">
	<p class="sr-only">{% trans %}Mail maybe sent. Check your mailbox{% endtrans %}</p>
</div>
{% endblock %}
