{% extends 'dashboard.html.twig' %}


{% block dashboardcontent %}

	<div class="text-center" style="width: 20rem; margin: 0 auto;">
		<form method="post">
			<h1 class="h3 mb-3 font-weight-normal">{% trans %}Forgot password{% endtrans %}</h1>
			<label for="inputLogin" class="sr-only">{% trans %}Login{% endtrans %}</label>
			<input type="text" value="" name="login" id="inputLogin" class="form-control" placeholder="{% trans %}Login{% endtrans %}" required autofocus>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('forgot-password') }}" >
			<div class="checkbox mb-3">
				<label>
					<input type="checkbox" name="_remember_me">{% trans %}Remember me{% endtrans %}
				</label>
			</div>
			<button class="btn btn-lg btn-primary" type="submit">{% trans %}Send me{% endtrans %}</button>
		</form>
	</div>
	
{% endblock %}
