<main role="main">

{% import "presentation-tile-macro.html.twig" as presentation_tile %}

{{ presentation_tile.text_img('/assets/clubs/bry_sur_marne/TKD_C016.jpg', 'club-bry-pres-1') }}
{{ presentation_tile.img_text('/assets/clubs/bry_sur_marne/IMG_0138_b.jpg', 'club-bry-pres-2') }}
{{ presentation_tile.text_img('/assets/clubs/bry_sur_marne/TKKDDA056.jpg', 'club-bry-pres-3') }}

</main>
