/.buildpath
/.project
/.settings/
/*.bak
/media/


###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/src/Migrations/Version2019*
/var/
/vendor/
###< symfony/framework-bundle ###


###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

### MEP ###
/.bash_history
/.bash_logout
/.bash_profile
/.bashrc
/.cagefs/
/.cl.selector/
/.composer/
/.contactemail
/.cpanel/
/.cphorde/
/.gemrc
/.htpasswds/
/.lastlogin
/.lesshst
/.pki/
/.sitepad/
/.softaculous/
/.spamassassin/
/.spamassassinboxenable
/.spamassassinenable
/.ssh/
/.symfony/
/.trash/
/.zshrc
/access-logs/
/etc/
/mail/
/perl5/
/ssl/
/tmp/
/web/
/www/
/dump_src.sql
