{% extends 'dashboard.html.twig' %}

{% block stylesheets2 %}
	<link href="/assets/showcase/showcase.css" rel="stylesheet">
{% endblock %}


{% block dashboardcontent %}

<main role="main">

	<div class="position-relative overflow-hidden p-5 p-md-2 m-md-3 text-center bg-light" style="padding-bottom: 0!important;">
		<div class="col-md-5 p-lg-4 mx-auto" style="margin-bottom: 0!important;">
			<h1 class="display-4 font-weight-normal">{% trans %}Le C&eacute;nacle{% endtrans %}</h1>
		</div>
	</div>

	<div class="d-md-flex flex-md-equal w-100 my-md-3">
		<div class="bg-dark mr-md-3 p-2 text-center text-white overflow-hidden sc-text">
			<div class="my-3 py-3">
				<p class="lead">Le Cénacle Rémi Mollet est une école d'Arts Martiaux Français, Coréens et asiatiques.
On y enseigne principalement le Taekwonkido, Taekwondo, mais aussi le Hapkido et le Gumdo.
Le Cénacle est composé d'une trentaine de clubs (dojang) répartis dans 
toute la France. Il y a même un club aux Pays-Bas et des sympathisants en Suisse, en Angleterre, etc.</p>
			</div>
		</div>
		<div class="bg-light mr-md-3 text-center overflow-hidden">
				<img class="img-fluid" src="/assets/showcase/cenacle/1.jpg" />
		</div>
	</div>


	<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
		<div class="bg-light mr-md-3 text-center overflow-hidden">
			<img class="img-fluid" src="/assets/showcase/cenacle/2.jpg" />
		</div>
		<div class="bg-dark mr-md-3 p-2 text-center text-white overflow-hidden sc-text">
			<div class="my-3 py-3">
				<p class="lead">La particularité du Cénacle est l'organisation d'activités communes à tous les 
clubs. Cela génère une dynamique de groupe tout à fait exceptionnelle. 
Cette dynamique favorise la création de liens entre les élèves des différents clubs.
Par exemple, il est possible pour un élève de s'entraîner dans tous les clubs de son
choix, sous certaines conditions. Il peut tout à fait assister aux cours dispensés par 
le Maître Rémi Mollet sans supplément de cotisation.</p>
			</div>
		</div>
	</div>

	<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
		<div class="bg-dark mr-md-3 p-2 text-center text-white overflow-hidden sc-text">
			<div class="my-3 py-3">
				<p class="lead">Le Cénacle organise des compétitions combat et technique, des stages combat, technique, 
poomse. Le Cénacle organise aussi ses propres passages de grades et invite de nombreux Maîtres 
(Coréens le plus souvent). Notons par exemple la venue du Grand Maître Park Hae-Man 
à diverses reprises. De plus certains élèves du Cénacle sont déjà partis plusieurs 
fois en Corée, pour participer à une compétition internationale. Ils ont même ramené
quelques médailles.</p>
			</div>
		</div>
		<div class="bg-light mr-md-3 text-center overflow-hidden">
			<img class="img-fluid" src="/assets/showcase/cenacle/3.jpg" />
		</div>
	</div>

	<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
		<div class="bg-light mr-md-3 text-center overflow-hidden">
			<img class="img-fluid" src="/assets/showcase/cenacle/4.jpg" />
		</div>
		<div class="bg-dark mr-md-3 p-2 text-center text-white overflow-hidden sc-text">
			<div class="my-3 py-3">
				<p class="lead">Le Cénacle est sous la direction de Maître Rémi Mollet.
Maître Rémi Mollet désire enseigner un Taekwondo Coréen, c'est-à-dire qu'il est le plus 
fidèle possible au Taekwondo enseigné en Corée. Pour ce faire, il part fréquemment en Corée 
afin de prendre connaissance des dernières évolutions du Taekwondo. En effet, le Taekwondo 
est un art martial vivant et de fait est amené à changer fréquemment. Le Taekwondo 
pratiqué au sein du Cénacle est conforme aux normes du Kukkiwon (maison mère du Taekwondo).</p>
			</div>
		</div>
	</div>

	<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
		<div class="bg-dark mr-md-3 p-2 text-center text-white overflow-hidden sc-text">
			<div class="my-3 py-3">
				<p class="lead">Après de très nombreuses années de pratique et d'enseignement, 
Maître Mollet et le docteur Taddeï ont décidé d'orienter leur pratique vers une méthode plus 
réaliste, axée sur le combat réel et l'autodéfense, synthétisant divers arts et notamment le 
Khido, discipline fondée par Maître Michel Morlon, créée en 1984. 
Le Taekwonkido est une méthode pratique et réfléchie, cherchant à produire le maximum de forces à partir 
de principes physiques et médicaux. Il est fondé sur l'utilisation naturelle du corps, 
avec des formes techniques allégées.</p>
			</div>
		</div>
		<div class="bg-light mr-md-3 text-center overflow-hidden">
			<img class="img-fluid" src="/assets/showcase/cenacle/5.jpg" />
		</div>
	</div>

	<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
		<div class="bg-light mr-md-3 text-center overflow-hidden">
			<img class="img-fluid" src="/assets/showcase/cenacle/6.jpg" />
		</div>
		<div class="bg-dark mr-md-3 p-2 text-center text-white overflow-hidden sc-text">
			<div class="my-3 py-3">
				<p class="lead">Les cours prodigués au Cénacle conviennent à toutes les catégories d'élèves, des plus jeunes 
aux moins jeunes en passant par les férus de compétitions.
<ul>
<li>En effet, certains clubs dispensent des cours de Baby-Taekwondo pour les 4-6 ans. 
Ces cours, adaptés aux plus jeunes enfants leur permet d'apprendre les bases du Taekwondo.
Les enfants apprennent les valeurs du Taekwondo (respect, discipline) mais acquièrent 
aussi les bases techniques. Des passages de grades avec des "ceintures" spécialement conçues
pour eux permettent de valider leurs connaissances.
<li>A partir de 6 ans, et jusqu'à 12 ans, les cours accentuent plus le côté dynamique 
du Taekwondo. Les enfants continuent leur apprentissage de manière ludique et approfondissent 
leurs connaissances. 
<li>A partir de 13 ans, on rentre dans le cours adulte. La particularité du Cénacle est 
que nous n'avons pas de spécialité.
En effet, le professeur enseigne TOUS les aspects du Taekwondo (techniques de base, 
combat conventionnel, poomse, casse, self défense, ...). Rien n'est négligé.
Les élèves seront donc polyvalents. Cependant, en fonction des préférences de 
l'élèves, différents cours supplémentaires peuvent être proposés. On a par exemple 
des cours spécifiques compétition (combat/technique).
<li>Enfin, à partir d'un certain âge, les élèves sont moins attirés par le côté compétition 
que par l'aspect purement self défense. Il existe donc dans certains clubs un cours 
"vétéran". Là, l'accent sera plutôt mis sur l'aspect self défense et maintien en bonne santé.
</ul>
Il faut savoir que Maître Rémi Mollet insiste énormément sur le côté traditionnel de 
l'Art Martial. Nous enseignons non seulement les techniques de Taekwondo, mais aussi toutes 
les valeurs qui s'y rapportent. En effet, ne dit-on pas que l'Art Martial est un art de vivre.</p>
			</div>
		</div>
	</div>

</main>
{% endblock %}

