{% extends 'dashboard.html.twig' %}

{% block stylesheets2 %}
	<link href="/assets/showcase/showcase.css" rel="stylesheet">
{% endblock %}


{% block dashboardcontent %}

<main role="main">

	<div class="position-relative overflow-hidden p-md-2 m-md-3 text-center bg-light" style="padding-bottom: 0!important;">
		<div class="col-md-5 p-lg-4 mx-auto" style="margin-bottom: 0!important;">
			<h1 class="display-4 font-weight-normal">{% trans %}Hapkido{% endtrans %}</h1>
		</div>
	</div>

	<div class="d-md-flex flex-md-equal w-100 my-md-3">
		<div class="bg-dark mr-md-3 p-2 text-center text-white overflow-hidden sc-text">
			<div class="my-3 py-3">
				<p class="lead">Le Hapkido a été fondé par Me. CHOI Yong Sul  qui partit pour le Japon en 
1912 où il fut adopté par la famille de Sokaku Takeda avec qui il 
s’entraîna durant 30 ans. Vers 1954, après avoir fait la synthèse de 
différents arts martiaux coréens tels que le TAEKYON (ancêtre du Taekwondo), 
du YU SOUL(ancêtre du Judo coréen) et du KUNG JUNG MOO SOUL (art martial 
royal coréen), il les combina avec ce qu’il avait appris et nomma son 
art « HAPKIDO ».</p>
			</div>
		</div>
		<div class="bg-light mr-md-3 text-center overflow-hidden">
				<img class="img-fluid" src="/assets/showcase/hapkido/1.jpg" />
		</div>
	</div>


	<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
		<div class="bg-light mr-md-3 text-center overflow-hidden">
			<img class="img-fluid" src="/assets/showcase/hapkido/2.jpg" />
		</div>
		<div class="bg-dark mr-md-3 p-2 text-center text-white overflow-hidden sc-text">
			<div class="my-3 py-3">
				<p class="lead">Le Grand-Maître JI Han-Jae, connu pour avoir été le partenaire de Bruce Lee dans 
"Le Jeu de la Mort", a fondé le Hapkido moderne en synthétisant les techniques 
de clés de CHOI Yong Sul et des techniques de coups de pieds très élaborées. En 1984, 
il évolue encore et crée le Sin-Moo Hapkido, méthode supérieure ("Sin" veut dire 
esprit) avec notamment des techniques de méditation.</p>
			</div>
		</div>
	</div>

	<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
		<div class="bg-dark mr-md-3 p-2 text-center text-white overflow-hidden sc-text">
			<div class="my-3 py-3">
				<p class="lead">Les trois principes du Hapkido sont : l’harmonie, le 
cercle, la non résistance. L’emblème du HAPKIDO, un aigle qui attrape 
une flèche dans ses serres, résume bien les principes de cet art martial.</p>
			</div>
		</div>
		<div class="bg-light mr-md-3 text-center overflow-hidden">
			<img class="img-fluid" src="/assets/showcase/hapkido/3.jpg" />
		</div>
	</div>

	<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
		<div class="bg-light mr-md-3 text-center overflow-hidden">
			<img class="img-fluid" src="/assets/showcase/hapkido/4.jpg" />
		</div>
		<div class="bg-dark mr-md-3 p-2 text-center text-white overflow-hidden sc-text">
			<div class="my-3 py-3">
				<p class="lead">Le programme d’entraînement du Hapkido comprend : 3800 techniques 
d’attaque et de défense, 20 coups de pied de base, 77 coups de pied 
spéciaux, 15 chutes ainsi que le travail des armes : bâton court, bâton 
moyen, bâton long, canne, corde, poignard, éventail, etc. C' est resté 
un art martial traditionnel ne pratique pas la compétition et est un 
système reconnu par la plupart des gardes du corps présidentiels et 
autres corps de sécurité dans le monde.</p>
			</div>
		</div>
	</div>

</main>
{% endblock %}

