{% extends 'dashboard.html.twig' %}

{% block stylesheets2 %}
	<link href="/assets/showcase/showcase.css" rel="stylesheet">
{% endblock %}


{% block dashboardcontent %}

<main role="main">

	<div class="position-relative overflow-hidden p-5 p-md-2 m-md-3 text-center bg-light" style="padding-bottom: 0!important;">
		<div class="col-md-5 p-lg-4 mx-auto" style="margin-bottom: 0!important;">
			<h1 class="display-4 font-weight-normal">{% trans %}Le Maître{% endtrans %}</h1>
		</div>
	</div>

	<div class="d-md-flex flex-md-equal w-100 my-md-3">
		<div class="bg-dark mr-md-3 p-2 text-center text-white overflow-hidden sc-text">
			<div class="my-3 py-3">
				<p class="lead">Maître Rémi Mollet a débuté les Arts Martiaux en 1973, ce qui lui fait donc 46 ans de pratique !
Il est haut-gradé en Taekwondo, Hapkido (Self-Défense coréenne). Mais ses grades sont aussi nombreux dans divers arts
Martiaux coréens : Daehan Hapkido, Sin Moo Hapkido, etc. Il est même Diplômé en Kick-Boxing.</p>
						<p class="lead">Mais il est également Professeur de Lettres Classiques au collège-lycée Albert de Mun à Nogent/Marne.
Ainsi la tête et les jambes sont réunies en une seule personne !</p>
			</div>
		</div>
		<div class="bg-light mr-md-3 text-center overflow-hidden">
				<img class="img-fluid" src="/assets/showcase/master-rm/1.jpg" />
		</div>
	</div>


	<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
		<div class="bg-light mr-md-3 text-center overflow-hidden">
			<img class="img-fluid" src="/assets/showcase/master-rm/2.jpg" />
		</div>
		<div class="bg-dark mr-md-3 p-2 text-center text-white overflow-hidden sc-text">
			<div class="my-3 py-3">
				<p class="lead">Sa reconnaissance est internationale puisqu'il a même été 
nommé "Instructeur de l'année" par le Hall of Fame en Floride 
(U.S.A.) en Septembre 98 et Septembre 2004. Tout récemment, lui qui était déjà 
diplômé d'état en France, vient de passer Instructeur certifié 
"Maître W.T.F." (Corée) en Juillet 2000, en Corée, au terme 
d'un Séminaire d'une semaine à raison de 8 heures par jour. 
Aux Etats-Unis à nouveau, il a reçu le "Silver Life Achievement Award" récompensant 
plus de trente ans au service des arts martiaux. En 2009, il a été nommé "Grandmaster" 
de l'année pour le Taekwonkido.</p>
			</div>
		</div>
	</div>

	<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
		<div class="bg-dark mr-md-3 p-2 text-center text-white overflow-hidden sc-text">
			<div class="my-3 py-3">
				<p class="lead">En 1988, afin de promouvoir les arts martiaux coréens, Maître 
Rémi Mollet a écrit un livre "Découvrir le Taekwondo" (aux 
éditions Amphora) et en 2006 l'ouvrage "Hapkido, Art Coréen d'autodéfense" (Budo Edition) 
et d'autres sont en préparation. Il a sorti le premier DVD en France sur le Taekwondo 
"Encyclo TKD". Parallèlement, 
il écrit régulièrement de nombreux articles dans des magazines 
spécialisés dans les arts martiaux et sports de combat. Il a 
d'ailleurs lui-même fait l'objet de plusieurs articles dans la 
presse ("Taekwondo-Choc", "Karate-Bushido", "Arts Martiaux 
Traditionnels d'Asie", "Taekwondo Times", etc.).</p>
			</div>
		</div>
		<div class="bg-light mr-md-3 text-center overflow-hidden">
			<img class="img-fluid" src="/assets/showcase/master-rm/3.jpg" />
		</div>
	</div>

	<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
		<div class="bg-light mr-md-3 text-center overflow-hidden">
			<img class="img-fluid" src="/assets/showcase/master-rm/4.jpg" />
		</div>
		<div class="bg-dark mr-md-3 p-2 text-center text-white overflow-hidden sc-text">
			<div class="my-3 py-3">
				<p class="lead">Pendant près de 15 ans, au sein de la Fédération de karaté 
(car à l'époque le Taekwondo y était rattaché), il a œuvré à 
diverses tâches : Juge Technique National, arbitre National, 
Juré aux Passages de Grades et aux Diplômes d'instructeur Fédéral, 
Responsable Technique du Val de Marne de 1988 à 1996, Membre de 
la Commission Technique Nationale pendant 3 ans (c'est lui qui a rédigé les 
premiers cahiers techniques fédéraux en France), responsable du 
Collège des Professeurs de la ligue Ile de France. Il est 
actuellement Président de l'Union Fédérale de Taekwonkido, créée en 1996.</p>
			</div>
		</div>
	</div>

	<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
		<div class="bg-dark mr-md-3 p-2 text-center text-white overflow-hidden sc-text">
			<div class="my-3 py-3">
				<p class="lead">Certains de ses élèves sont devenus de grands champions : Valérie 
Chevé (plusieurs fois Championne de France), Thierry Troudart 
(multiple Champion de France, Vainqueur de la Coupe de Méditerranée, 
3ème au Championnat du Monde à New-York en 1993) et enfin 
Pascal Gentil (Médaille d'Or à la Coupe du Monde et 3ème aux 
jeux Olympiques de Sydney en 2000) qui a débuté dans un de ses clubs.</p>
			</div>
		</div>
		<div class="bg-light mr-md-3 text-center overflow-hidden">
			<img class="img-fluid" src="/assets/showcase/master-rm/5.jpg" />
		</div>
	</div>

	<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
		<div class="bg-light mr-md-3 text-center overflow-hidden">
			<img class="img-fluid" src="/assets/showcase/master-rm/6.jpg" />
		</div>
		<div class="bg-dark mr-md-3 p-2 text-center text-white overflow-hidden sc-text">
			<div class="my-3 py-3">
				<p class="lead">Après avoir passé autant d'années à développer le Taekwondo, 
Maître Rémi Mollet s'est employé à promouvoir un autre art coréen : Hapkido. 
Dans les années 90, il a jugé bon de réunir les principales 
tendances du Hapkido en France et créa l'Union Fédérale de Hapkido. 
Depuis, nombreuses ont 
été les démonstrations tant en France qu'à l'étranger et nombreux 
ont été les stages qu'il a prodigués. Tous ces efforts ont abouti 
à une démonstration qu'il a effectuée lors de la Nuit des Arts 
Martiaux de Paris Bercy le 25 Mars 2000 et qui a remporté un vif 
succès. Il a également participé au salon des Arts Martiaux de 
Vincennes (parc Floral) en octobre 1999 et en octobre 2000. 
Il a effectué deux démos de Taekwondo, Hapkido, Taekwonkido aux 2 premières 
nuits des arts martiaux traditionnels, en 2007 et 2008, organisées par le magazine 
Dragon - Art et Combat.</p>
			</div>
		</div>
	</div>

	<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
		<div class="bg-dark mr-md-3 p-2 text-center text-white overflow-hidden sc-text">
			<div class="my-3 py-3">
				<p class="lead">Depuis de nombreuses années, il est un disciple de Me Kim Yong-Ho, 
9ème dan (le plus haut gradé Taekwondo en France) qui fut Président du 
Comité Technique de la Fédération Mondiale de Taekwondo.</p>
						<p class="lead">La seconde "patrie" de Maître Rémi Mollet, c'est la Corée et il y 
va tous les ans afin de se resourcer et de s'entraîner.</p>
			</div>
		</div>
		<div class="bg-light mr-md-3 text-center overflow-hidden">
			<img class="img-fluid" src="/assets/showcase/master-rm/7.jpg" />
		</div>
	</div>

	<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
		<div class="bg-light mr-md-3 text-center overflow-hidden">
			<img class="img-fluid" src="/assets/showcase/master-rm/8.jpg" />
		</div>
		<div class="bg-dark mr-md-3 p-2 text-center text-white overflow-hidden sc-text">
			<div class="my-3 py-3">
				<p class="lead">Pour finir, nous dirons qu'il est Directeur Technique du Cénacle", 
vaste amicale de clubs qui regroupe une trentaine de Do-Jangs (salles d'entraînement) 
sur Paris, le Sud de la France et l'étranger. Il va régulièrement y animer des 
stages et faire profiter les pratiquants d'une expérience pédagogique de plus de 35 ans.</p>
			</div>
		</div>
	</div>
	
</main>
{% endblock %}

