{% extends 'dashboard.html.twig' %}

{% block stylesheets2 %}
	<link href="/assets/showcase/showcase.css" rel="stylesheet">
{% endblock %}


{% block dashboardcontent %}

<main role="main">

	<div class="position-relative overflow-hidden p-md-2 m-md-3 text-center bg-light" style="padding-bottom: 0!important;">
		<div class="col-md-5 p-lg-4 mx-auto" style="margin-bottom: 0!important; max-width: 100%">
			<h1 class="display-4 font-weight-normal">{% trans %}Sinkido Self-Défense Système{% endtrans %}</h1>
		</div>
	</div>

	<div class="d-md-flex flex-md-equal w-100 my-md-3">
		<div class="bg-dark mr-md-3 p-2 text-center text-white overflow-hidden sc-text">
			<div class="my-3 py-3">
				<p class="lead">Le Sinkido Self-Défense Système est une méthode qui s'adresse exclusivement aux adultes et aux seniors.
C'est un programme d'autodéfense accessible, sans chutes éprouvantes, sans coups de pied hauts, sans Formes compliquées, sans acrobaties.
Axé sur l'efficacité, il est directement applicable en combat réel. C'est la simplicité du programme qui permet de ne pas hésiter en
"combat de survie", de mobiliser tous ses moyens (frappes, clés, fauchages, coups de pied bas et moyens, etc.) pour un résultat maximal.
Fondé sur une approche dynamique, le Sinkido est un concentré de techniques efficientes et pratiques.
Rationnel et progressif, le programme par grades peut être appréhendé par tout adulte qui se préoccupe d'efficacité plus que de médailles sportives.</p>
			</div>
		</div>

</main>
{% endblock %}

