{% extends 'dashboard.html.twig' %}

{% block stylesheets2 %}
	<link href="/assets/showcase/showcase.css" rel="stylesheet">
{% endblock %}


{% block dashboardcontent %}

<main role="main">

	<div class="position-relative overflow-hidden p-md-2 m-md-3 text-center bg-light" style="padding-bottom: 0!important;">
		<div class="col-md-5 p-lg-4 mx-auto" style="margin-bottom: 0!important;">
			<h1 class="display-4 font-weight-normal">{% trans %}Taekwonkido{% endtrans %}</h1>
		</div>
	</div>

	<div class="d-md-flex flex-md-equal w-100 my-md-3">
		<div class="bg-dark mr-md-3 p-2 text-center text-white overflow-hidden sc-text">
			<div class="my-3 py-3">
				<p class="lead">Le Taekwonkido est une méthode éducative, fondée par Me Rémi
Mollet et le Dr. Jean-Laurent Taddeï, synthétisant les techniques de Karaté,
Taekwondo, de Hapkido, de Gumdo (sabre), d’arts martiaux coréens et surtout de
Khido, méthode supérieure instaurée par Me Michel Morlon, créée en 1984. Selon un programme
technique repensé afin d’être accessible à tous, du plus jeune au vétéran, de
la femme à l’homme, axé sur l’autodéfense et sur une pratique traditionnelle,
le Taekwonkido® est avant tout une méthode
d’éducation permettant de former l’individu afin de le responsabiliser, de
l’aider à surmonter les embûches et tracas du quotidien et de l’aider à
s’intégrer dans la société. Basé sur le développement du goût de l’effort et
l’aptitude à dépasser ses limites, il doit valoriser le pratiquant et l’aider à
être mieux dans sa peau, tout en sachant respecter autrui et accepter
l’autorité.</p>
			</div>
		</div>
		<div class="bg-light mr-md-3 text-center overflow-hidden">
				<img class="img-fluid" src="/assets/showcase/taekwonkido/1.jpg" />
		</div>
	</div>


	<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
		<div class="bg-light mr-md-3 text-center overflow-hidden">
			<img class="img-fluid" src="/assets/showcase/taekwonkido/2.jpg" />
		</div>
		<div class="bg-dark mr-md-3 p-2 text-center text-white overflow-hidden sc-text">
			<div class="my-3 py-3">
				<p class="lead">Techniquement, le Taekwonkido® présente beaucoup de coups de pied
sautés, retournés, mais aussi des mouvements de bras. Un tapis (style tatami)
est bien souvent nécessaire pour les chutes lors des techniques d’autodéfense.
Le recours à des protections lors des assauts et surtout à des cibles en mousse
permet une pratique respectant l’intégrité physique et la santé du pratiquant,
et surtout constitue un bon défouloir dont le dynamisme séduit les plus jeunes.
Afin de faciliter l’apprentissage, certaines formes trop souvent rébarbatives
sont devenues optionnelles, des ateliers ont été simplifiés ou remplacés par des
techniques d’autodéfense plus accessibles. A partir d’un certain niveau, le
travail des armes et notamment du sabre coréen (Gumdo) est abordé.</p>
			</div>
		</div>
	</div>

	<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
		<div class="bg-dark mr-md-3 p-2 text-center text-white overflow-hidden sc-text">
			<div class="my-3 py-3">
				<p class="lead">Le Taekwonkido® est basé sur une utilisation naturelle du corps. 
Le pratiquant de Taekwonkido® doit être amené à canaliser son
énergie. Par son côté physique, l’entraînement devient une sorte d’ascèse, un
exutoire où s’élimine le trop-plein d’énergie de bien des jeunes. Me Rémi
Mollet est par ailleurs professeur de Lettres classiques en collège et lycée,
il pratique depuis plus de 35 ans et enseigne les arts martiaux depuis plus de 30
ans ; il est diplômé d’Etat (France et Corée) : toute cette
expérience pédagogique sera mise au service du Taekwonkido®</p>
			</div>
		</div>
		<div class="bg-light mr-md-3 text-center overflow-hidden">
			<img class="img-fluid" src="/assets/showcase/taekwonkido/3.jpg" />
		</div>
	</div>

</main>
{% endblock %}

