{% extends 'dashboard.html.twig' %}

{% block stylesheets2 %}
	<link href="/assets/showcase/showcase.css" rel="stylesheet">
{% endblock %}


{% block dashboardcontent %}

<main role="main">

	<div class="position-relative overflow-hidden p-md-2 m-md-3 text-center bg-light" style="padding-bottom: 0!important;">
		<div class="col-md-5 p-lg-4 mx-auto" style="margin-bottom: 0!important;">
			<h1 class="display-4 font-weight-normal">{% trans %}Taekwondo{% endtrans %}</h1>
		</div>
	</div>

	<div class="d-md-flex flex-md-equal w-100 my-md-3">
		<div class="bg-dark mr-md-3 p-2 text-center text-white overflow-hidden sc-text">
			<div class="my-3 py-3">
				<p class="lead">Le Taekwondo, discipline olympique, est un art martial sans armes 
et l’esprit dans lequel il est pratiqué entraîne obligatoirement 
courtoisie, loyauté, persévérance, maîtrise de soi, combativité 
sans agressivité.</p>
			</div>
		</div>
		<div class="bg-light mr-md-3 text-center overflow-hidden">
				<img class="img-fluid" src="/assets/showcase/taekwondo/1.jpg" />
		</div>
	</div>


	<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
		<div class="bg-light mr-md-3 text-center overflow-hidden">
			<img class="img-fluid" src="/assets/showcase/taekwondo/2.jpg" />
		</div>
		<div class="bg-dark mr-md-3 p-2 text-center text-white overflow-hidden sc-text">
			<div class="my-3 py-3">
				<p class="lead">Art martial coréen pendant plus de vingt siècles sous le nom de 
"TAEKYON" avant 1955, le TKD, tout en conservant la tradition et 
l’esprit de l’art martial, est devenu un sport international 
moderne qui compte de nos jours   de 20 millions de pratiquants 
répartis dans   de 150 pays dont la France depuis 1969, et qui 
gagne chaque jour du terrain  dans le monde.</p>
			</div>
		</div>
	</div>

	<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
		<div class="bg-dark mr-md-3 p-2 text-center text-white overflow-hidden sc-text">
			<div class="my-3 py-3">
				<p class="lead">Le Cénacle Rémi Mollet appartient à l'école Chung Do Kwan de Taekwondo.</p>
			</div>
		</div>
		<div class="bg-light mr-md-3 text-center overflow-hidden">
			<img class="img-fluid" src="/assets/showcase/taekwondo/3.jpg" />
		</div>
	</div>

</main>
{% endblock %}

