{% extends 'emails/base.html.twig' %}

{% block body %}
	<table border="0" width="100%">
		<tr>
			<td align="left">
				<table border="0" align="center" width="590">
					<tr>
						<td align="align-center">
							<p>{% trans with {'%name%': name | default('')} %}Hi %name%{% endtrans %},</p>
							<ul>
								<li>{% trans %}Login{% endtrans %} : {{ login | default('') }}</li>
							</ul>
							<p>
								{#En réponse à votre demande, nous vous invitons à cliquer sur le bouton ci-dessous pour définir un nouveau mot de passe :#}
								{% trans %}In response to your request, we invite you to click on the button below to set a new password{% endtrans %} :
							</p>
							<br>
							<p>
								<a style="font-weight: 600; text-align: center; vertical-align: middle; touch-action: manipulation; cursor: pointer; background-image: none; border: 1px solid transparent; white-space: nowrap; padding: 6px 12px; font-size: 14px; line-height: 1.4; border-radius: 2px; user-select: none; text-decoration: none; width: 70%; display: block; background-color: #49b2b5!important; border-color: #49B2B5!important; color: #ffffff !important; position: relative; margin-left: auto; margin-right: auto;"
									href="{{ url('web_user_me_password_renewal', {'uuid' : requestUuid | default('request-uuid')}) }}">
									{% trans %}Reset my password{% endtrans %}
								</a>
							</p>
							<p>
								{#Ou copiez-collez le lien suivant dans votre navigateur#}
								{% trans %}Or copy and paste the following link into your browser{% endtrans %} :
								<code>{{ url('web_user_me_password_renewal', {'uuid' : requestUuid | default('request-uuid')}) }}</code>
							</p>
							
							{#
							<p>
								<strong>Attention : votre mot de passe est une information confidentielle, conservez-le soigneusement et ne le communiquez pas.
								Votre identifiant reste inchangé. Vous pouvez également utiliser votre adresse email principale comme identifiant.</strong>
							</p>
							<p>Merci de ne pas répondre à ce message qui est généré automatiquement.</p>
							<p>L'équipe Support à votre service.</p>
							#}
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

{% endblock %}
