{% extends 'base.html.twig' %}

{% block title %}C&eacute;nacle R&eacute;mi Mollet - Emails{% endblock %}


{% block body %}

	<span>List all emails :</span>
	<ul>
		{% for emailType in emailTypes %}
			<li><a href="/email/{{ emailType }}">{{ emailType }}</a></li>
		{% endfor %}
	</ul>

{% endblock %}


