{% extends 'base.html.twig' %}

{% block title %}C&eacute;nacle R&eacute;mi Mollet - Emails{% endblock %}


{% block body %}

	<span>List all MimeTypes :</span>
	<ul>
		{% for mimeType in mimeTypes %}
			<li><a href="/email/{{ emailType }}/{{ mimeType }}">{{ mimeType }}</a></li>
		{% endfor %}
	</ul>
	
	<div>
		<form method="POST">
			<label>Mail to : &nbsp</label><input type="text" name="to" />
			<input type="submit" name="Send" value = "Send" />
		</form>
	</div>

{% endblock %}


