{% set club = app.session.get('club-selected') %}
{% set currentPage = app.request.attributes.get('_route') %}
{% set isHome = currentPage == 'home' %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="C&eacute;nacle R&eacute;mi Mollet">
		<link rel="icon" href="/favicon.ico">
		<title>{% block title %}{% endblock %}</title>
		<link href="/vendor/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">
		<link href="/assets/dashboard/dashboard.css" rel="stylesheet">
		{% block stylesheets %}{% endblock %}
		{% block stylesheets2 %}{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
		{% block javascriptsbefore1 %}{% endblock %}
		{% block javascripts %}{% endblock %}
		{% block javascriptsafter1 %}{% endblock %}
	</body>
</html>
