{% extends 'dashboard.html.twig' %}

{% block dashboardcontent %}

<table class="table">
	<thead>
		<tr>
			<th scope="col">{% trans %}Name{% endtrans %}</th>
			<th scope="col">{% trans %}Cities{% endtrans %}</th>
		</tr>
	</thead>
	<tbody>
		{% for club in clubs %}
			<tr>
				<th scope="row">{{ club.name }}</th>
				<td>{{ club.cities }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
