{% extends 'base.html.twig' %}

{% block title %}C&eacute;nacle R&eacute;mi Mollet{% endblock %}


{% block body %}

	<nav id="sidebar" style="height: 100%">
		<div class="sidebar-header" style="padding-top:10px; padding-bottom: 10px;">
			<a class="col-sm-3 col-md-2 mr-0" style="padding:2px!important" href="{{ path('home') }}"><img src="/assets/img/logo-taekwonkido.png" style="max-height:70px" /></a>
		</div>
		<ul class="list-unstyled components" style="padding-top:5px; padding-bottom: 10px;">
			{{ render(controller('App\\Controller\\MenuLeftController::viewMenuLeft', {'club': club | default() })) }}
		</ul>
	</nav>

	<div id="content">
		<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 20px">
			<div class="container-fluid" style="/*border-style: solid; border-color: blue;*/">
				<div class="buttondivforsidenav">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
						<i class="fas fa-align-left"></i>
						<span data-feather="menu"></span>
					</button>
				</div>
				<div class="searchdiv">
					<input class="form-control"
							id="search-text"
							type="text" placeholder="{% trans %}Search{% endtrans %}"
							aria-label="{% trans %}Search{% endtrans %}"
							{% if searchResult is defined%}value="{{ searchResult.q }}"{% endif %}>
				</div>
				<div class="loginoutdiv">
    				<ul class="navbar-nav">
    					<li class="nav-item text-nowrap">
    						{% if connectedUser is defined and connectedUser != null %}
    							<a class="btn btn-primary" href="/logout" role="button">{% trans %}Sign out{% endtrans %}</a>
    						{% else %}
    							<a class="btn btn-primary" href="/login" role="button">{% trans %}Sign in{% endtrans %}</a>
    						{% endif %}
    					</li>
    				</ul>
				</div>
			</div>
		</nav>

		<div>
			{% block dashboardcontent %}{% endblock %}
		</div>

	</div>

{% endblock %}


{% block javascripts %}
	<script src="/vendor/jquery/jquery-3.3.1.min.js"></script>
	<script src="/vendor/popper/popper.min.js"></script>
	<script src="/vendor/bootstrap/bootstrap.min.js"></script>
	<script src="/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="/vendor/feather/feather.min.js"></script>
	<script type="text/javascript">
		feather.replace();
		$(document).ready(function () {
			$("#sidebar").mCustomScrollbar({
				theme: "minimal"
			});
			$(".mCSB_container").css("height", "100%");
			
			$('#sidebarCollapse').on('click', function () {
			$('#sidebar, #content').toggleClass('active');
				$('.collapse.in').toggleClass('in');
				$('a[aria-expanded=true]').attr('aria-expanded', 'false');
			});
		});
	</script>
	<script src="/vendor/jquery.serializeobject/jquery.serializeObject.js"></script>
	<script src="/assets/dashboard/dashboard.js"></script>
{% endblock %}

