<hr />
<footer class="container bg-light">
	<p><strong>C&eacute;nacle R&eacute;mi Mollet<br>
	Ecole Henri Cahn, Boulevard Galliéni 94360 Bry sur Marne<br>
	Informations : 06 95 904 408<strong></p>
	<a href="https://www.facebook.com/CENACLEREMIMOLLET" class="fa fa-facebook"></a>
	<a href="https://twitter.com/cenaclerm?lang=fr" class="fa fa-twitter"></a>
	<p></p>
</footer>