{% for menuItem in menuItems %}
	
	{% if menuItem.code == 'clubs' %}
		<li class="nav-item">
			<a class="nav-link" href="/clubs">
				<span data-feather="globe"></span>
				{% trans %}Clubs{% endtrans %}
			</a>
		</li>
	{% endif %}
	
	{% if menuItem.code == 'documents' %}
		<li class="nav-item">
			<a class="nav-link" href="#">
				<span data-feather="book"></span>
				{% trans %}Documents{% endtrans %}
			</a>
		</li>
	{% endif %}
	
	{% if menuItem.code == 'students' %}
		<li class="nav-item">
			<a class="nav-link" href="/students">
				<span data-feather="users"></span>
				{% trans %}Students{% endtrans %}
			</a>
		</li>
	{% endif %}
	
	{% if menuItem.code == 'teachers' %}
		<li class="nav-item">
			<a class="nav-link" href="#">
				<span data-feather="award"></span>
				{% trans %}Teachers{% endtrans %}
			</a>
		</li>
	{% endif %}
	
{% endfor %}
