{% for menuItem in menuItems %}
	
	{% if menuItem.code == 'cenacle' %} {# TODO ============================== #}
		<li class="nav-item">
			<a class="nav-link" href="/cenacle">
				<span data-feather="box"></span>
				{% trans %}Cenacle{% endtrans %}
			</a>
		</li>
	{% endif %}
	{% if menuItem.code == 'master' %} {# TODO ============================== #}
		<li class="nav-item">
			<a class="nav-link" href="/master-rm">
				<span data-feather="user"></span>
				{% trans %}Master{% endtrans %}
			</a>
		</li>
	{% endif %}
	{% if menuItem.code == 'sport' %} {# TODO ============================== #}
		<li class="nav-item">
			<a class="nav-link" href="/sport">
				<span data-feather="zap"></span>
				{% trans %}Sports{% endtrans %}
			</a>
		</li>
	{% endif %}
	{% if menuItem.code == 'clubs' %}
		<li class="nav-item">
			<a class="nav-link" href="/club">
				<span data-feather="home"></span>
				{% trans %}Clubs{% endtrans %}
			</a>
		</li>
	{% endif %}
	
	{% if menuItem.code == 'documents' %}
		<li class="nav-item">
			<a class="nav-link" href="#">
				<span data-feather="book"></span>
				{% trans %}Documents{% endtrans %}
			</a>
		</li>
	{% endif %}
	
	{% if menuItem.code == 'users' %}
		<li class="nav-item">
			<a class="nav-link" href="/user">
				<span data-feather="users"></span>
				{% trans %}Users{% endtrans %}
			</a>
		</li>
	{% endif %}
	
{% endfor %}
