{% for menuItem in menuItems %}
	
	{% if menuItem.code == 'clubs' %}
		<li class="nav-item">
			<a class="nav-link" href="/club">
				<span data-feather="globe"></span>
				{% trans %}Clubs{% endtrans %}
			</a>
		</li>
	{% endif %}
	
	{% if menuItem.code == 'documents' %}
		<li class="nav-item">
			<a class="nav-link" href="#">
				<span data-feather="book"></span>
				{% trans %}Documents{% endtrans %}
			</a>
		</li>
	{% endif %}
	
	{% if menuItem.code == 'users' %}
		<li class="nav-item">
			<a class="nav-link" href="/user">
				<span data-feather="users"></span>
				{% trans %}Users{% endtrans %}
			</a>
		</li>
	{% endif %}
	
{% endfor %}
