{% for menuItem in menuItems %}
	
	{% if menuItem.code == 'pres' and club %}
		<li class="nav-item menu-left-club">
			<a class="nav-link" href="/club/{{ club.uuid}}">
				<span data-feather="box"></span>
				{% trans %}Presentation{% endtrans %} M {{ club.name | default('') }} N
			</a>
		</li>
	{% endif %}
	
	{% if menuItem.code == 'cenacle' %}
		<li class="nav-item">
			<a class="nav-link" href="/cenacle">
				<span data-feather="box"></span>
				{% trans %}Cenacle{% endtrans %}
			</a>
		</li>
	{% endif %}
	{% if menuItem.code == 'master' %}
		<li class="nav-item">
			<a class="nav-link" href="/master-rm">
				<span data-feather="user"></span>
				{% trans %}Master{% endtrans %}
			</a>
		</li>
	{% endif %}
	{% if menuItem.code == 'sport' %}
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer;">
				<span data-feather="zap"></span>
				{% trans %}Sports{% endtrans %}
			</a>
			<div class="dropdown-menu nav-item" aria-labelledby="dropdown01">
				<a class="dropdown-item" href="/taekwonkido">{% trans %}Taekwonkido{% endtrans %}</a>
				<a class="dropdown-item" href="/taekwondo">{% trans %}Taekwondo{% endtrans %}</a>
				<a class="dropdown-item" href="/hapkido">{% trans %}Hapkido{% endtrans %}</a>
				<a class="dropdown-item" href="/sinkidosds">{% trans %}Sinkido Self-Défense Système{% endtrans %}</a>
			</div>
		</li>

	{% endif %}
	{% if menuItem.code == 'clubs' %}
		<li class="nav-item">
			<a class="nav-link" href="/club">
				<span data-feather="home"></span>
				{% trans %}Clubs{% endtrans %}
			</a>
		</li>
	{% endif %}
	
	{% if menuItem.code == 'documents' %}
		<li class="nav-item">
			<a class="nav-link" href="#">
				<span data-feather="book"></span>
				{% trans %}Documents{% endtrans %}
			</a>
		</li>
	{% endif %}
	
	{% if menuItem.code == 'users' %}
		<li class="nav-item">
			<a class="nav-link" href="/user">
				<span data-feather="users"></span>
				{% trans %}Users{% endtrans %}
			</a>
		</li>
	{% endif %}
	
{% endfor %}
