{% extends 'dashboard.html.twig' %}

{% block stylesheets2 %}
	<link href="/assets/search/search.css" rel="stylesheet">
{% endblock %}


{% block dashboardcontent %}

<ul>
	{% for result in searchResult.results %}
		<li class="row" style="padding: 1rem">
			<a href="/{{ result.type }}/{{ result.uuid }}">
    			{% if result.type == 'club' %}
    				<span data-feather="home"></span>
    			{% endif %}
    			{% if result.type == 'user' %}
    				<span data-feather="user"></span>
    			{% endif %}
    			&nbsp;{{ result.name }}
    		</a>
		</li>
	{% endfor %}
</ul>

{% endblock %}


{% block javascriptsafter1 %}
	<script src="/assets/search/search.js"></script>
{% endblock %}