



<!-- <div id="schedule-hours" style="height: 400px"> </div>-->
<div class="mb-2" id="sked1"></div>


<div id="jquery-script-menu">
<div class="jquery-script-center">
<ul>
<li><a href="https://www.jqueryscript.net/time-clock/Mobile-Friendly-Calendar-Schedule-Plugin.html">Download This Plugin</a></li>
<li><a href="https://www.jqueryscript.net/">Back To jQueryScript.Net</a></li>
</ul>
<div class="jquery-script-clear"></div>
</div>
</div>
  <div class="container-fluid" style="margin-top:150px; font-family:'Roboto'">
    <h1 class="text-center">Mobile-friendly Calendar and Schedule Plugin Example</h1>
    <div class="row">
      <div class="col-xs-12">
        <h1>Wow ! That calendar works !</h1>
        <div id="calendar"></div>
      </div>
    </div>
  </div>
  



