{% extends 'dashboard.html.twig' %}

{% block dashboardcontent %}
	<h1>Oops !</h1>
	<h2>{{ status_code }} {{ status_text }}</h2>
	
	{#<ol>
		{% for key, value in _context  %}
			<li>{{ key }}</li>
		{% endfor %}
	</ol>#}

{% endblock %}